#resume {
    text-align: center;
    padding: 20px;
}

#resume a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#resume a:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}


#resume ul {
    list-style-type: none;
    padding: 0;
}

#resume li {
    margin-bottom: 10px;
}
